
{{template "base" .}} {{define "content"}}
<div class="container mt-5 mb-5">
    <div class="row">
        <img src="./static/images/generals-quarters.png" class="img-fluid img-thumbnail mx-auto d-block img-container"></img>
    </div>

    <div class="row">
        <div class="col text-center">
            <h1>General's Quarter</h1>
            <p>
                Your home away from home Your home away from home 
                Your home away from home Your home away from home 
                Your home away from home Your home away from home 
                Your home away from home
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col text-center">
            <a id="check-availability-button" href="#!" class="btn btn-success">Check Availability</a>
        </div>        
    </div>
</div>
{{end}}

{{define "js"}}
{{end}}